.topBar{
    height: 10vh !important;
    background-color: lightgray !important;
    border: 1px solid black !important;
    background-image: url(../img/back-img/fondo9.png);
    transform: rotate(180deg);
}

.topBarStyles{
    transform: rotate(180deg);
}

.taaskinLogo{
    color: white;
    letter-spacing: 1em;
    font-size: 1.5em;
}

.leftMenuBar{
    height: 90vh;
    width: 25vw;
    background-color: rgb(44 141 151);
    filter: saturate(200%);
    border-right: 1px solid black !important;
}

.expansionPanels{
    width: 5vw;
}

.bottomBar{
    position: absolute;
    bottom: 0%;
    left: 0%;
    border: 1px solid black;
    width: 25vw;
    height: 5vh;
    background-color: white;
}

.leftSideBottomBar{
    width: 20%;
}

.rightSideBottomBar{
    width: 10%;
}

a{
    text-decoration: none;
}

.iconsBottomBar{
    transform: scale(1.4);
}

.iconsBottomBar:hover{
    transform: scale(1.8);
}
